{
  "plugins": [ "react-hot-loader/babel", "transform-decorators-legacy"],
  "presets": [["es2015", { "modules": false }] ,"react", "stage-0"],
  "compact" : false,
  "env": {
    "server": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ],
      "development":{
        "presets": ["react-hmre"]
      }

    },
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
